In [1]:
user_list = ["Dan", "Faiz", "Harry"]

In [2]:
print(type(user_list))

<class 'list'>

In [3]:
print(len(user_list))

3

In [4]:
print(type(user_list[0]))

<class 'str'>

In [5]:
print(len(user_list[-1]))

5

In [6]:
list_1 = [True, "True", 1, 1.0, (1, )]

In [7]:
list_2 = [0] * 10

In [8]:
print(list_2)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [9]:
list_3 = [list_1, list_2]

In [10]:
list_3

[[True, 'True', 1, 1.0, (1,)], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [14]:
print(list_3[0][3], list_3[1][3])

1.0 0

In [15]:
list_4 = [list_3[0][3], list_3[1][3]]

In [16]:
print(list_3)

[[True, 'True', 1, 1.0, (1,)], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [17]:
print(list_4)

[1.0, 0]

In [5]:
plates = ["G06 WTR", "WL11 WFL", "QW68 PQR"]

In [11]:
dates = []
for plate in plates:
    first_part = plate.split()[0]
    date = first_part[-2:]
    dates.append(date)

for n in range(len(dates)):
    dates[n] = int(dates[n])
    print(type(dates[n]))

<class 'int'>
<class 'int'>
<class 'int'>

In [57]:
for plate in plates:
    first_part = plate.split()[0]
    date = int(first_part[-2:])
    print(type(date))

<class 'int'>
<class 'int'>
<class 'int'>

In [68]:

print(set_user)
harry = set(user_list[0])
dan = set(user_list[1])
faiz = set(user_list[2])
common = harry.intersection(dan).intersection(faiz)
print(common)

{'Harry', 'Dan', 'Faiz'}
{'a'}

In [69]:
print(len(set(list_2)))

1

In [71]:
x = [1, 1, 1, 2]
print(set(x))

{1, 2}

In [73]:
dictionary = {
    "a": True,
    "b": False,
}

In [74]:
x = 10

In [86]:
n = int(input("Choose a number: "))
if n > x:
    print(f"{n} is greater than 10")
else:
    print(f"{n} is less than 10")

Choose a number: 12
12 is greater than 10

In [94]:
'aaa' > 'AAA'

True

In [110]:
a = 1
b = 1
xor_gate = (not (a and b)) and (a or b)
print(xor_gate)
nand = not (a and b)
or_g = a or b

False

In [1]:
tup = (1, 5, 4, 1, 8, 1, 5, 2, 2, 2, 1, 8)

In [2]:
print(list(set(tup)))

[1, 2, 4, 5, 8]

In [3]:
fruits = {'apple', 'banana', 'cherry'}

In [5]:
fruits_2 = {'banana', 'cherry', 'durian'}

In [6]:
fruits.update(fruits_2)

In [7]:
print(fruits)

{'cherry', 'banana', 'durian', 'apple'}

In [8]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {2, 4}
set_3 = {2}

In [9]:
set_1.issuperset(set_1)

True

In [10]:
set_1[0:4].issuperset(set_2)

TypeError: 'set' object is not subscriptable

In [13]:
dictionary = {
    'name': 'Dan',
    'name': 'Bob'
             }

In [14]:
print(dictionary)

{'name': 'Bob'}

In [16]:
dictionary.items()

dict_items([('name', 'Bob')])

In [17]:
t =()

In [18]:
type(t)

tuple

In [24]:
t += (1, 2, 3)

In [25]:
t

(1, 2, 3)

In [30]:
t[0:3]

(1, 2, 3)

In [31]:
names = ('Harry', 'Ahmed', 'Blair', 'Ivan')

In [32]:
sorted(names)

['Ahmed', 'Blair', 'Harry', 'Ivan']

In [33]:
names

('Harry', 'Ahmed', 'Blair', 'Ivan')

In [35]:
len(names[0])

5

In [36]:
names[3] = 'Ivan'

TypeError: 'tuple' object does not support item assignment

In [37]:
x, y = (3, 4,)

In [38]:
x

3

In [39]:
y

4

In [40]:
tup = (1, 5, 4, 1, 8, 1, 5, 2, 2, 2, 1, 8)

In [41]:
len(tup)

12

In [44]:
tup.index(8)

4

In [45]:
tup[2:3]

(4,)

In [46]:
t=(1)

In [47]:
type(t)

int

In [48]:
t =1,

In [49]:
type(t)

tuple

In [1]:
bool(())

False

In [2]:
bool(0.0)

False

In [3]:
bool(None)

False

In [4]:
bool(False)

False

In [5]:
x = 42

In [6]:
x is 42

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/05/mkq8wpdx6mvfgmdxy2lqpd6r0000gn/T/ipykernel_36189/1028957022.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  x is 42

True

In [7]:
x == 42

True

In [8]:
False < x < 53.2

True

In [9]:
42 == x < 53.2

True

In [10]:
505 > x <= 53.2

True

In [11]:
x = 42

In [12]:
x % 1 == 0

True

In [2]:
long_word = 'Pneumonoultramicroscopicsilicovolcanoconiosis'
print(len(long_word))

first_c = long_word[0]
last_c = long_word[-1]
first_c += last_c

print(first_c)

45
Ps

In [3]:
a = 4.2
b = 45
print(type(a + b))

<class 'float'>